<h1>Welcome</h1>
<%if logged_in?%>
    <h1>You are logged In, <%= current_user.name%> </h1>
<%end%>
<%= button_to "Login", '/login', method: :get%>
<%= button_to "Sign Up", '/users/new', method: :get%>
